.login-container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding-bottom: 100px;
  color: black;
}

.registration-success {
  color: green;
  padding: 20px;
}

.auth-failure{
  color: #D32F2F;
  padding: 20px;
}
