@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.main-container {
  width: 100%;
  background: grey;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Login {
  background: gray;
  height: 100px;
  width: 90%;
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title-container {
  padding: 20px;
}
.new-commune-section{
  background: lightgray;
  width: 80%;
  margin: 20px auto;
  float: none;
  color: black;
  padding: 20px;
}

.username-span {
  color: red;
}

.dashboard-container {
  display:flex;
  justify-content: center;
}
.dashboard-item {
  width: 700px;
  margin: 20px 20px;
  background: white;
  padding: 20px;
}

.chore-form-input {
  width: 60% !important;
}
.chore-success-div, .purchase-success-div {
  color: green;
}
.chore-error-div, .purchase-error-div {
  color:red;
}
